.main_body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20%;
    background-color: darkslategray;
    color: white;
    width: 100vw;
    height: 20vh;
}